* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'segoe ui', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
}

.logoadidas {
    width: 120px;
    height: auto;
    cursor: pointer;
}

.logobelanja {
    display: flex;
    gap: 15px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 70px;
    cursor: pointer;
}

.logologin:hover {
    transform: scale(1.1);
    opacity: 0.3;
    transition: transform 0.3s ease;
}

.logokeranjang:hover {
    transform: scale(1.1);
    opacity: 0.3;
    transition: transform 0.3s ease;
}

.welcome {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: 'sans-serif', Verdana, Geneva, Tahoma;
}

.navbar {
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 1000;
    background-color: #ffffff;
    color: rgb(97, 97, 97);
    display: flex;
    padding: 15px 20px;
    align-items: center;
}

.menuutama {
    cursor: pointer;
    float: left;
    list-style: none;
}

.menu-item1 {
    float: left;
    margin: 0px 50px;
}

.menu-item1:hover {
    background-color: #000000;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #ffffff;
    padding: 4px;
    border-radius: 2px;
}

.menu-item2 {
    float: left;
    margin: 0px 50px;
}

.menu-item2:hover {
    background-color: #000000;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #ffffff;
    padding: 4px;
    border-radius: 2px;
}

.menu-item3 {
    float: left;
    margin: 0px 50px;
}

.menu-item3:hover {
    background-color: #000000;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #ffffff;
    padding: 4px;
    border-radius: 2px;
}

.menu-item4 {
    float: left;
    margin: 0px 50px;
}

.menu-item4:hover {
    background-color: #000000;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #ffffff;
    padding: 4px;
    border-radius: 2px;
}

.menu-item5 {
    float: left;
    margin: 0px 50px;
}

.menu-item5:hover {
    background-color: #000000;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #ffffff;
    padding: 4px;
    border-radius: 2px;
}

.menu-item6 {
    float: left;
    margin: 0px 50px;
}

.menu-item6:hover {
    background-color: #000000;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #ffffff;
    padding: 4px;
    border-radius: 2px;
}

h2 {
    font-size: 35px;
}

.welcome2 {
    margin-top: 10px;
    background-color: #e9e0e0;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
}

.SHOPBAR {
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    list-style: none;
    margin: 15px;
    text-decoration: underline;
}

.shop-item1 {
    background-color: #000000;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.shop-item2 {
    background-color: #000000;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.shop-item3 {
    background-color: #000000;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.gambaradidasxcocacola {
    width: 100%;
    height: auto;
    margin-top: 20px;
    position: relative; /* Menjadikan posisi relatif untuk memungkinkan penempatan teks di atas gambar */
}

.cocacola-text {
    background-color: rgba(0, 0, 0); /* Memberikan latar belakang hitam transparan untuk meningkatkan keterbacaan teks */
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 40%;
    left: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.cocacola-text h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cocacola-text2 {
    background-color: rgba(0, 0, 0); /* Memberikan latar belakang hitam transparan untuk meningkatkan keterbacaan teks */
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 33%;
    left: 20px;
    color: white;
    font-size: 23px;
}

.cocacola-text3 {
    background-color: rgba(255, 255, 255); /* Memberikan latar belakang hitam transparan untuk meningkatkan keterbacaan teks */
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 24.5%;
    left: 20px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.cocacola-text3 h3 {
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
}

.cocacola-text3:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}

.gambarworldcup {
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.adidasxworldcup {
    width: 200px;
    height: auto;
    margin-top: 60px;
}

.adidasxfifa{
    font-size: 20px;
    margin-bottom: 60px;
}

.gambaradidascollab {
    width: 100%;
    height: auto;
    margin-top: 20px;
    position: relative; /* Menjadikan posisi relatif untuk memungkinkan penempatan teks di atas gambar */
}

.colab-text {
    background-color: rgb(255, 255, 255); /* Memberikan latar belakang hitam transparan untuk meningkatkan keterbacaan teks */
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 40%;
    left: 20px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
}

.colab-text h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.colab-text2 {
    background-color: rgb(255, 255, 255); /* Memberikan latar belakang hitam transparan untuk meningkatkan keterbacaan teks */
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 33%;
    left: 20px;
    color: rgb(0, 0, 0);
    font-size: 23px;
}

.colab-text3 {
    background-color: rgb(0, 0, 0); /* Memberikan latar belakang hitam transparan untuk meningkatkan keterbacaan teks */
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 24.5%;
    left: 20px;
    color: rgb(250, 250, 250);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.colab-text3 h3 {
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
}

.colab-text3:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}

.tepi1 {
    background-color: #ffffff;
    margin: 50px;
    color: #000000;
}

.tepi2 {
    background-color: #ffffff;
    margin: 50px;
    color: #000000;
}

.kotak-team {
    flex: 0 1 auto;
    max-width: 200px;       /* Lebar maksimum untuk setiap kotak */
    height: auto;           /* Tinggi tetap untuk setiap kotak */
    margin: 20px 0 0 10px;  /* Memberi jarak vertikal antara kotak dengan elemen lain */
    color: rgb(0, 0, 0);  /* Semua tulisan di dalam kotak berwarna putih */
    align-items: center;    /* Mengatur agar konten di dalam kotak berada di tengah secara vertikal */
    justify-content: center;/* Mengatur agar konten di dalam kotak berada di tengah secara horizontal */
    overflow: hidden;       /* Mencegah konten di dalam kotak keluar dari batas kotak */
    position: relative;     /* Menjadikan posisi relatif untuk memungkinkan penempatan nama team secara absolut di dalam kotak */
    cursor: pointer;        /* Menambahkan kursor pointer saat hover untuk menunjukkan bahwa kotak bisa diklik */
}

.kotak-team:hover {
    transform: translateY(10px);
    /* Mengangkat kotak sedikit saat hover */
    transition: transform 0.5s ease;
    border: 1px solid #000000;
    /* Menambahkan border saat hover */
}

.below {
    background-color: #ffffff;
    color: #000000;
    margin: 20px 0 0 0;
}

.subjudul {
    display: flex;
}

.lihat-semua {
    color: #000000;
    position: absolute;
    /* Menjadikan posisi absolut untuk menempatkan "Lihat Semua" di posisi yang tepat */
    right: 50px;
    /* Menempatkan "Lihat Semua" di sisi kanan dengan jarak 30px */
    font-size: 15px;
    text-decoration: underline;
}

.lihat-semua:hover {
    background-color: #000000;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

.kotak {
    flex: 0 0 320px; /* Membuat setiap kotak memiliki lebar tetap 200px */
    height: auto;
    margin: 10px; /* Memberi jarak vertikal antara kotak dengan elemen lain */
    /* border: 1px solid #949494; Memberi border tipis untuk membedakan setiap kotak */
    color: rgb(0, 0, 0);
    /* Semua tulisan di dalam kotak berwarna putih */

    align-items: center; /* Mengatur agar konten di dalam kotak berada di tengah secara vertikal */
    justify-content: center; /* Mengatur agar konten di dalam kotak berada di tengah secara horizontal */
    overflow: hidden; /* Mencegah konten di dalam kotak keluar dari batas kotak */
    cursor: pointer; /* Menambahkan kursor pointer saat hover untuk menunjukkan bahwa kotak bisa diklik */
}

.kotak:hover {
    transform: translateY(-7px); /* Mengangkat kotak sedikit saat hover */
    transition: transform 0.3s ease;
    border: 1px solid #000000; /* Menambahkan border saat hover */
}

.nama-team {
    position: absolute;
    bottom: 10px; /* Menempatkan nama team di bagian bawah kotak */
    left: 15px;
    font-size: 18px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

.Team, .Shoes, .Clothing, .Jacket {
    display: flex;
    gap: 5px;
    overflow-x: auto; /* Biar kalau produknya banyak, bisa di-scroll ke samping */
    padding-bottom: 15px;
}

.tepi1 h1 {
    margin: 0 0 5px 10px;
}

.tepi1 h3 {
    margin: 10px 0 5px 10px;
}

.tepi2 h1 {
    margin: 0 0 5px 10px;
}

.tepi2 h3 {
    margin: 10px 0 5px 10px;
}

.kotak-team img {
    width: 100%;
    height: auto;
    display: block; /* Menghilangkan jarak bawah pada gambar */
}

.kotak img {
    width: 100%;
    height: 320px;
    object-fit: cover; /* Memaksa gambar mengisi penuh kotak tanpa merusak rasio/proporsinya */
}

.kotak-deskripsi {
    padding: 1px;
    color: #000000;
}

.kotak-deskripsi p {
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-content {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media(min-width:720px) {
    .menuutama {
    }
}